body
{
	background-color:#f0f8ff;
}
.khungtrai
{
	width:185px;
	margin:5px 0 0 0;
	border:1px solid #FF82AB;
	-moz-border-radius:5px;
	float:left;
}
.khungtrai-top
{
	width:185px;
	height:25px;
	background-image:url(../AnhProject4/Quanly.jpg);
	text-align:center;
	font-size:16px;
	font-weight:bold;
	text-transform:capitalize;
	-moz-border-radius:5px 5px 0 0;
	padding:5px 0 0 0;
	border-bottom:1px solid #FF82AB;
}
#menuQT
{
	list-style:none;
	float:left;
	width:185px;
	top:0px;
	left:0px;
	margin:0;
	padding:0;
}
#menuQT li
{
	width:180px;
	margin:0;
	height:27px;
	border-bottom:1px solid #FF82AB;
	padding:5px 0 0 5px;
}
#menuQT li a
{
	text-decoration:none;
	color:#0000FF;
	font-size:15px;
}
#menuQT li:hover
{
	background-color:#7FFFD4;
	/*background-image:url(Quanly.jpg);*/
}
#menuQT li a:hover
{
	color:#5154FF;
}
.content
{
	width: 778px;
	float: right;
	height: auto;
	border: thin solid #FF82AB;
	-moz-border-radius: 5px;
	font-size: 15px;
	margin-top: 5px;
}
.content-top
{
	width: 770px;
	height: 25px;
	border-bottom: thin solid #FF82AB;
	color: #FF0000;
	padding: 5px 0 0 8px;
	/*background-color: #Fff;*/
	-moz-border-radius:5px 5px 0 0;
}
.text
{
	width:120px;
	text-align:left;
	padding-left:10px;
}
.input-data
{
	padding-left:10px;
	width:170px;
}
.khung-insert
{
	width:980px;
	height:auto;
	margin:auto;
	font-size:15px;
}
.khung-insert table
{
	width:770px;
}
.khung-insert table tr
{
	height:27px;
}
